.posl {
  position: absolute;
  top: 30%;
  left: 22%;
  backdrop-filter: blur(2px);
  border: 2px solid black;
  width: 50%;
  height: 50vh;
  padding-top: 2%;
  color: black;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8;
  justify-content: center;
}

.log {
  background-color: aliceblue;
}
